option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "WCl2rR1UnvuFL4Jl1Ds93UjXRsm0mk761F7TELl4"
    MASTER_KEY: ""
    DATABASE_URI: "mongodb://walkthru:eskyuujj@ds149358-a0.mlab.com:49358,ds149358-a1.mlab.com:49358/walkthru?replicaSet=rs-ds149358"
    NODE_ENV: "production"
    SERVER_URL: "http://walkthru-parse-server.elasticbeanstalk.com/parse"